OfflineFileGenerator/Web References/StyleMapping/stylemapping.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMapping">
        <s:complexType />
      </s:element>
      <s:element name="GetMappingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMappingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMapping">
        <s:complexType />
      </s:element>
      <s:element name="LoadMappingResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMappingSoapIn">
    <wsdl:part name="parameters" element="tns:GetMapping" />
  </wsdl:message>
  <wsdl:message name="GetMappingSoapOut">
    <wsdl:part name="parameters" element="tns:GetMappingResponse" />
  </wsdl:message>
  <wsdl:message name="LoadMappingSoapIn">
    <wsdl:part name="parameters" element="tns:LoadMapping" />
  </wsdl:message>
  <wsdl:message name="LoadMappingSoapOut">
    <wsdl:part name="parameters" element="tns:LoadMappingResponse" />
  </wsdl:message>
  <wsdl:portType name="StyleMappingSoap">
    <wsdl:operation name="GetMapping">
      <wsdl:input message="tns:GetMappingSoapIn" />
      <wsdl:output message="tns:GetMappingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadMapping">
      <wsdl:input message="tns:LoadMappingSoapIn" />
      <wsdl:output message="tns:LoadMappingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StyleMappingSoap" type="tns:StyleMappingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMapping">
      <soap:operation soapAction="http://tempuri.org/GetMapping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMapping">
      <soap:operation soapAction="http://tempuri.org/LoadMapping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StyleMappingSoap12" type="tns:StyleMappingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMapping">
      <soap12:operation soapAction="http://tempuri.org/GetMapping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMapping">
      <soap12:operation soapAction="http://tempuri.org/LoadMapping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StyleMapping">
    <wsdl:port name="StyleMappingSoap" binding="tns:StyleMappingSoap">
      <soap:address location="http://maverikbizus65.plumriver.net/mockup/stylemapping.asmx" />
    </wsdl:port>
    <wsdl:port name="StyleMappingSoap12" binding="tns:StyleMappingSoap12">
      <soap12:address location="http://maverikbizus65.plumriver.net/mockup/stylemapping.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>